<h1>Edit Family Name</h1>
<%= render partial: "form", locals: {
                                      path: families_update_path,
                                      method: :patch,
                                      family_name: "Edit #{@family.name} Name",
                                      button_text: "Update Family"
} %>
