<h1>Create a New Family</h1>
<%= render partial: "form", locals: {
                                      path: families_create_path,
                                      method: :post,
                                      family_name: "Family Name:",
                                      button_text: "Create Family"
} %>
