<h1>Add New Descendent</h1>
<%= render partial: "form", locals: {
                                      path: family_descendents_create_path,
                                      method: :post,
                                      button_text: "Create Descendent"
} %>
