<h1>Edit <%= @descendent.first_name %>'s Information</h1>
<%= render partial: "form", locals: {
                                      path: descendents_update_path,
                                      method: :patch,
                                      button_text: "Update Descendent"
} %>
